.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
}

.result__box {
    width: 400px;
    height: 400px;
}

.result__box-img {
    width: 100%;
}
